@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: #ffffff;
  --color-base-200: #f8f8fb;
  --color-base-300: #f2f2f3;
  --color-base-content: #353437;
  --color-primary: var(--primary-950);
  --color-primary-content: #ffffff;
  --color-secondary: var(--secondary-500);
  --color-secondary-content: #ffffff;
  --color-accent: #c8b6ff;
  --color-accent-content: #ffffff;
  --color-neutral: #242326;
  --color-neutral-content: #fafafa;
  --color-info: #66b6e2;
  --color-info-content: #f0faff;
  --color-success: #5dd693;
  --color-success-content: #f2fef8;
  --color-warning: #dea038;
  --color-warning-content: #fffcf0;
  --color-error: #d1512d;
  --color-error-content: #fff5f2;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: fasle;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: var(--primary-500);
  --color-primary-content: #FFFFFF;
  --color-secondary: var(--secondary-500);
  --color-secondary-content: #FFFFFF;
  --color-accent: #FAFAFA;
  --color-accent-content: #FFFFFF;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #48CAE4;
  --color-info-content: #FFFFFF;
  --color-success: #70E000;
  --color-success-content: #FFFFFF;
  --color-warning: #FF2F4B;
  --color-warning-content: #FFFFFF;
  --color-error: #D62828;
  --color-error-content: #FFFFFF;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
